.contenedor {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  max-width: 1200px; /* Aumenta el ancho máximo */
  margin: 100px auto;
  padding: 20px ;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 90%; /* Ajuste responsivo para pantallas más pequeñas */

}

h1 {
  text-align: center; /* Centrar el texto del encabezado */
  color: #000000; /* Color del texto */
  margin-bottom: 20px; /* Espacio inferior */
  font-family: 'Arial', sans-serif; /* Fuente */
}

form {
  display: flex; /* Usar flexbox para el diseño */
  flex-direction: column; /* Colocar los elementos en columna */
}

mat-form-field {
  width: 100%; /* Ancho completo del campo */
  margin-bottom: 16px; /* Espacio entre campos */
}

mat-label {
  color: #333; /* Color de las etiquetas */
}



input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #3f51b5; /* Color de borde al enfocar */
  outline: none; /* Sin borde externo */
}

label {
  margin-bottom: 8px; /* Espacio inferior */
  font-weight: bold; /* Negrita para las etiquetas */
  color: #555; /* Color de las etiquetas */
}

input[type="file"] {
  display: block; /* Mostrar como bloque */
  margin: 10px 0 20px; /* Espacio superior e inferior */
  border: 1px solid #ccc; /* Borde ligero */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
}

p {
  margin: 0; /* Eliminar márgenes predeterminados */
}

a {
  text-decoration: none; /* Sin subrayado */
  color: #000000; /* Color del texto */
  margin-top: 10px; /* Margen superior */
  display: inline-block; /* Mostrar como bloque en línea */
}
