<div class="contenedor">
  <mat-card>
    <h1>Agregar producto</h1>
    <form>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="productoModel.nombre" name="nombre" type="text" placeholder="Nombre">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput rows="5" [(ngModel)]="productoModel.descripcion" name="descripcion" placeholder="Descripción"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Precio</mat-label>
          <input matInput [(ngModel)]="productoModel.precio" name="precio" type="number" placeholder="Precio">
        </mat-form-field>
      </p>
      <div>
        <label for="fotos">Fotos</label>
        <input accept="image/png,image/jpeg" id="fotos" #foto multiple type="file">
      </div>
      <p>
        <app-loading-button [cargando]="cargando" texto="Guardar" (click)="guardar()"></app-loading-button>
        <a routerLink="/productos" mat-raised-button color="primary" style="margin-left: 10px">Volver</a>
      </p>
    </form>
  </mat-card>
</div>